pyvenv.cfg
bin
lib
lib64
share
.eggs
*.egg-info/
dist
skepticoin/scmversion.py
__pycache__
**/wallet.json
**/peers.json
**/chain/
**/chain.cache
sqlite-autoconf-*
env*/
test.db
test.tmp
chain.db*
chain.zip
.vscode/